@model BoxDto
@{
}

<h1>Add Box</h1>

<form asp-controller="Boxes" asp-action="Create" method="post">
    <div class="form-group">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="BoardId" />
        <label asp-for="Name">Box Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add Box</button>
</form>
