@model BoxDto
@{
}

<h1>Update Box</h1>

<form asp-controller="Boxes" asp-action="Update" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="BoardId" value="@Model.BoardId" />
    <div class="form-group">
        <label asp-for="Name">Box Name</label>
        <input value="@Model.Name" asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <hr>
    <button type="submit" class="btn btn-outline-success">Update Box</button>
</form>
