@model BoardDto
@{
}

<h1>Add Board</h1>

<form asp-controller="Boards" asp-action="AddBoard" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="OwnerId" value="@ViewData["OwnerId"]" />
        <label asp-for="BoardName">Board Name</label>
        <input asp-for="BoardName" class="form-control">
        <span asp-validation-for="BoardName" class="text-danger"></span>
    </div>
    <hr>
    <button type="submit" class="btn btn-outline-success">Add Board</button>
</form>
