@model Board
@{
}

<div class="container">
    <div class="row">
        <h1 class="mt-2">@Model.Name</h1>
        <div class="box-container">
            @if (Model.Users.Count > 1)
            {
                <div class="col-md-4 mb-4 m-3 d-flex justify-content-center align-items-center">
                    <div>
                        <div class="card mb-4 shadow-sm bg-dark text-white">
                            <div class="card-body message-container">
                                @foreach (var message in Model.Messages.Reverse())
                                {
                                    <div class="message">
                                        <p>@message.Content (Sent by @message.User.FirstName)</p>
                                        <p>@message.CreatedAt.ToLocalTime()</p>
                                    </div>
                                }
                            </div>
                            <div class="card-footer">
                                @await Html.PartialAsync("/Views/Messages/Create.cshtml", new MessageDto { BoardId = Model.Id })
                            </div>
                        </div>
                    </div>
                </div>
            }
            @foreach (var box in Model.Boxes)
            {
                @await Html.PartialAsync("/Views/Boxes/Details.cshtml", box)
            }
            <div class="col-md-4 mb-4 m-3 h-200 d-flex justify-content-center align-items-center bg-purple-custom">
                <div class="dropdown me-2">
                    <button class="btn btn-sm btn-outline-secondary" type="button" id="togglePartialViewButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-plus"></i>New Box
                    </button>
                    <div class="p-2 dropdown-menu dropdown-menu-end bg-dark text-light" aria-labelledby="togglePartialViewButton">
                        @await Html.PartialAsync("/Views/Boxes/Create.cshtml", new BoxDto() { BoardId = Model.Id })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
