@model BoardDto
@{
}

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card p-4 border-0 shadow-lg text-white" style="background-color: #333333; max-width: 400px;">
        <h1 class="text-center">@Model.Name</h1>
        <form asp-controller="Boards" asp-action="Update" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="OwnerId" />
            <div class="form-group">
                <label asp-for="Name" class="form-label">Board Name</label>
                <input asp-for="Name" class="form-control bg-dark text-white" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <hr>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-dark">Update Board</button>
            </div>
        </form>
    </div>
</div>
