html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    background: linear-gradient(to bottom right, #2e2e2e, #292929);
    color: #d0d0d0;
    font-family: Arial, sans-serif;
}

.h-200 {
    height: 200px;
}

.card-custom {
    background-color: #333;
    max-width: 400px;
}

.scrollable-custom {
    height: 70vh;
    overflow-y: auto;
}

.bg-dark-custom {
    background: #333;
}

.bg-purple-custom {
    border-image: linear-gradient(45deg, #a080ff, #b5a4ff) 1;
    background-color: #333;
    box-shadow: rgba(128, 128, 255, 0.4) 0 1px 10px;
    border-width: 2px;
    border-style: solid;
}

.invitations-badge {
    font-size: 8px;
    left: 8px;
}

.board-container {
    transition: transform 0.2s ease-in-out;
}

    .board-container:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        z-index: 1;
    }

.box-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 20px;
}

    .box-container > * {
        flex: 0 0 auto;
    }

.message-container {
    height: 400px;
    overflow-y: auto;
}

/* Scrollbar */

* {
    scrollbar-width: thin;
    scrollbar-color: #322a31 #5f585a;
}

    *::-webkit-scrollbar {
        width: 16px;
    }

    *::-webkit-scrollbar-track {
        background: #5f585a;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #322a31;
        border-radius: 10px;
        border: 3px dotted #ffffff;
    }

/* Layout */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar {
    background-color: #333;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-toggler-icon {
    background-color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
