html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    background: linear-gradient(to bottom right, #2e2e2e, #292929);
    color: #d0d0d0;
    font-family: Arial, sans-serif;
}

/* Elements */

.h-200 {
    height: 200px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.board-custom {
    transition: transform 0.2s ease-in-out;
}

    .board-custom:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        z-index: 1;
    }

.box-container-custom {
    border-color: purple;
    border-width: 4px;
    border-style: solid;
}

.box-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 20px;
}

    .box-container > * {
        flex: 0 0 auto;
    }

.card-custom {
    background-color: #333333;
    max-width: 400px;
}

.card-title-custom {
    color: #61afef;
    margin-bottom: 1rem;
}

.card-image {
    display: block;
    margin-bottom: 1rem;
}

.box-card {
    height: 70vh;
    overflow-y: auto;
}

.message-card {
    height: 400px;
    overflow-y: auto;
}

/* Scrollbar */

* {
    scrollbar-width: thin;
    scrollbar-color: #322a31 #5f585a;
}

    *::-webkit-scrollbar {
        width: 16px;
    }

    *::-webkit-scrollbar-track {
        background: #5f585a;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #322a31;
        border-radius: 10px;
        border: 3px dotted #ffffff;
    }

/* Layout */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar {
    background-color: #333;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-toggler-icon {
    background-color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
