@model Card
@{
}

<div class="card mt-4 mb-4 shadow-sm">
    <div class="card-body">
        <h5 class="card-title">@Model.CardName</h5>
        <div class="btn-group-vertical w-100">
            <form asp-controller="Cards" asp-action="UpdateCard" asp-route-id="@Model.Id" method="get" class="mb-1">
                <button type="submit" class="btn btn-outline-primary w-100">Update Card</button>
            </form>
            <form asp-controller="Cards" asp-action="DeleteCard" asp-route-id="@Model.Id" asp-route-boxId="@Model.BoxId" method="post">
                <button type="submit" class="btn btn-outline-danger w-100" onclick="return confirm('Confirm?')">Delete Card</button>
            </form>
        </div>
    </div>
</div>
