@model CardDto
@{
}

<h1>Update Card</h1>

<form asp-controller="Cards" asp-action="Update" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="BoxId" />
    <div class="form-group">
        <label asp-for="Name">Card Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content">Card Content</label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DueDate">Due Date</label>
        <input type="datetime-local" asp-for="DueDate" class="form-control" />
        <span asp-validation-for="DueDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageFile">Card Image</label>
        @if (!string.IsNullOrEmpty(Model.ImageFileName))
        {
            <img class="d-block mt-2 mb-2" width="100" src="/images/@Model.ImageFileName">
            <input class="form-control" readonly asp-for="ImageFileName" class="form-control" />
        }
        <input class="form-control" type="file" asp-for="ImageFile" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>
    <div class="form-group">
        Created at <input readonly asp-for="CreatedAt" />
    </div>
    <button type="submit" class="btn btn-primary">Update Card</button>
</form>
