@model ToDoItemDto
@{
}

<form asp-controller="ToDoItems" asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="CardId" />
    <div class="form-group">
        <label asp-for="Content">ToDo Item Content</label>
        <input asp-for="Content" class="form-control bg-dark text-white" />
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <input asp-for="IsCompleted" class="form-check-input" />
        <label asp-for="IsCompleted" class="form-check-label">Completed</label>
        <span asp-validation-for="IsCompleted" class="text-danger"></span>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-secondary">Create</button>
    </div>
</form>
